
body {
    font-family:  Helvetica, Arial, sans-serif;
    margin: 32px;
}

g.arc {    
    fill: steelblue;
}

svg{
    padding-bottom: 2px;
}

g.pointer {
    fill: #e85116;
    stroke: #b64011;
}

g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
    word-wrap: break-word;
}

svg text {
    padding-top: 5px;
    text-anchor: middle;
    font-size: 10px;
    font-weight: bold;
    fill: #666;  
}

g.gaugeBackground {
    fill:  #666;
}

g.gaugeBackground {
    fill:  darkgrey;
}
